.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

li.active {
  color: green;
}

.container {
  width: 60%;
  padding-top: 4vh;
  padding-bottom: 10vh;
}

form.search-movies {
  margin: 20px auto;
}
